name: Deploy

concurrency:
  group: production
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x.x
          cache: 'npm'
          cache-dependency-path: app/package-lock.json

      - name: Install web dependencies
        run: cd app && npm ci

      - name: Build static
        run: |
          cd app
          sed -i -- 's|API_SERVER_URL:.*$|API_SERVER_URL: "${{ vars.API_SERVER_URL }}",|g' vite.config.ts
          npm run build

      - name: Collect
        run: |
          mkdir -p build/web
          cp -r app/dist/. build/web/
          cp -r main.py config.py compress build/

      - name: Deploy
        uses: marcodallasanta/ssh-scp-deploy@v1.2.0
        with:
          local: build/*
          remote: /tmp/sigpc
          host: ${{ secrets.SSH_HOST }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          pre_upload: rm -rf /tmp/sigpc
          post_upload: |
            OUT="${{ vars.SSH_PATH }}" && OUT=${OUT%/}
            cp "$OUT/config.yaml" /tmp/sigpc/
            rm -rf "$OUT"
            mv /tmp/sigpc "$OUT"
            python3.14 -m venv "$OUT/.venv"
            cd "$OUT" || exit
            source "$OUT/.venv/bin/activate"
            pip install -r requirements.txt
            rm -r "$OUT/.scripts"
            ${{ vars.POST_UPLOAD_COMMAND }}
          ssh_options: -o StrictHostKeyChecking=no
